<div id="header" class="background">
  <div class="headerspacer">
  </div>

  <div class="callout">
    <h1>WorkIt</h1>
    <h3>
      Welcome to WorkIt! Here you can quickly and
      easily track your workouts so you can see your progress.
    </h3>

    <%= link_to "Get started", new_user_registration_path %>
  </div>
</div>

<div class="spacer">
</div>
