<div id="header" class="background">
  <div class="headerspacer">
  </div>

  <div class="callout">
    <h1>WorkIt</h1>
    <h3>
      Welcome to WorkIt! Here you can quickly and
      easily track your workouts so you can see your progress.
    </h3>

    <div class="devise-links">
      <h6><%= link_to "Get started", new_user_registration_path %></h6>
    </div>
  </div>
</div>

<div class="about white-text">
  <br>
  <div class="row center center-text">
    <div class="column small-12 medium-4 large-4">
      <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i><br><br>
      <h5><b>Track workouts</b></h5>
    </div>
    <div class="column small-12 medium-4 large-4">
      <i class="fa fa-search fa-3x" aria-hidden="true"></i><br><br>
      <h5><b>Discover new exercises</b></h5>
    </div>
    <div class="column small-12 medium-4 large-4">
      <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i><br><br>
      <h5><b>See your progress on a graph</b></h5>
    </div>
</div>
<br>
