<div class="image-background">
<div class="top-padding row text-center">
<h1 class="black-ops">Your Workouts</h1>

<div id="app"></div>

<br><br>
<% if current_user.identity_for("fitbit") %>
<div id="fitbit"></div>
<% end %>
</div>
</div>
